body {
  background-image: url("weather.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  align-items: center;
  color: #f0d43a;
}

#app {
  display: flex;
  flex-direction: column;
  color: #f0d43a;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.headline {
  text-align: center;
  margin-bottom: 2vh;
}

.entry-holder {
  background: rgba(59, 74, 107, 0.4);
  text-align: center;
  border: 2px solid yellow;
  height: 350px;
  width: 575px;
  padding: 10px;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 30px;
}

#entryHolder {
  border: 2px solid yellow;
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: column;
}

#date,
#temp,
#city,
#description,
#feelings {
  color: yellow;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  background-color: white;
  border-radius: 5px;
  width: 150px;
  border: 0px none;
  outline: none;
  padding: 10px;
  text-align: center;
  line-height: 5px;
  color: black;
  line-height: 10px;
  font-weight: 600;
  height: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
  background-color: rgba(205, 205, 205, 0.3);
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
}

button:hover {
  background-color: black;
}

.zip {
  margin-bottom: 4vh;
}

#text-title {
  margin-bottom: 2vh;
}

#text-field {
  border-radius: 20px;
  width: 350px;
  height: 50px;
  background-color: rgba(205, 205, 205, 0.3);
  border: 0px none;
  outline: none;
  padding: 5px;
}

#text-field2 {
  border-radius: 20px;
  width: 350px;
  height: 50px;
  background-color: rgba(205, 205, 205, 0.3);
  border: 0px none;
  outline: none;
  padding: 5px;
}

h1 {
  font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
